body {
    background-color: black;
}

header {
    background-color: forestgreen;
    text-align: center;
}

.info {
    border: 1px solid white;
    margin-left: 25%;
    margin-right: 25%;
}

h2 {
    background-color: orange;
    text-align: center;
}

img {
    max-width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    background-color: violet;
    text-align: center;
}

.info p {
    color: white;
    text-align: center;
}